/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root { color-scheme: light dark; }

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}
